
body{
  font-family: arial, sans-serif;
  font-size: small;
}
.main-nav{
    display: flex;
    flex-direction: row;

}
.footer{
  display: flex;
  flex-direction: row;
  border-top: solid 1px #8888883f;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #eeeeee;
  color: #000000b6;
}
.push{
    margin-left: auto;
}
.pushright{
    margin-left: auto;
}
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .googlelogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 89px;
    padding: 109px 0px 25px;
    
}
.google_search{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      border-bottom-right-radius: 24px;
      border-bottom-left-radius: 24px;
    border: 1px solid grey;
    border-top-color: rgb(223, 225, 229);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(223, 225, 229);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(223, 225, 229);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(223, 225, 229);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: none;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto;
    width: 500px;
}
.google_search:hover{
  box-shadow: 1px 1px 5px #8888889f;
}
#signinbutton{
  display: inline-block;
  background-color: #4285f4;
  border: 1px solid;
  border-radius: 2px;
  font-weight: bold;
  line-height: 28px;
  padding: 0 12px;
    padding-top: 0px;
    padding-right: 12px;
    padding-bottom: 0px;
    padding-left: 12px;
  margin: 8px;
  color: white;
}
.buttons{
  position: center;
  display: block;
  text-align: center;
  padding-top: 18px;
}
.searchbutton{
  background-color: #f1ededec;
  width: 150px;
  height: 35px;
  color: rgb(106, 106, 107);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  border-radius: 4px;
  border: none;
  }
.searchbutton:hover{
  box-shadow: 1px 1px 5px #8888889f;
  color: black;
}
.buttons button{
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-top-color: rgb(242, 242, 242);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(242, 242, 242);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(242, 242, 242);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(242, 242, 242);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #5F6368;
  font-family: Arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  margin-top: 11px;
  margin-right: 4px;
  margin-bottom: 11px;
  margin-left: 4px;
  padding: 0 16px;
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

